@font-face {
  font-family: "Newtext Bold";
  src: url("fonts/Newtext Bold.ttf");
}

@font-face {
  font-family: "Newtext Regular";
  src: url("fonts/Newtext Regular.ttf");
}

@font-face {
  font-family: "TESCOModern-Regular";
  src: url("fonts/TESCOModern-Regular-final.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "TESCOModern-Regular";
}

body {
  background: #f6f6f6;
}

*:focus {
  outline: none;
}

footer {
  margin-bottom: 25px;
}

.site-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  /* Add any other styling you need here */
}

#footer-container {
  display: flex;
  flex-direction: column;
  /* Changed to column */
  align-items: flex-start;
  width: 240px;
  height: 80px;
  font-size: 12px;
  /* Consider a larger font size */
}

/* If you want a different font size for the copyright text */
.copyright {
  text-align: justify;
  font-size: 8px;
  font-family: "TESCOModern-Regular";
  color: rgb(102, 102, 102);
  margin-top: 10px;
}

.github {
  font-size: 9px;
  font-family: "TESCOModern-Regular";
  color: rgb(102, 102, 102);
  text-align: justify;
}

.site-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

#header-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 350px;
  height: 80px;
}

.title-tesco {
  color: #ee1c2e;
  font-family: "Newtext Bold";
}

.title {
  color: black;
  font-family: "Newtext Bold", sans-serif;
  font-weight: 400;
  margin-top: 5px;
  font-size: 32px;
  background-image: linear-gradient(to right, #00539f 50%, transparent 50%);
  background-size: 39px 8px;
  /* width of dashes and height of border */
  background-repeat: repeat-x;
  background-position: left bottom;
  padding-bottom: 10px;
  /* Space for the border */
  cursor: pointer;
  user-select: none;
  /* Prevent text selection */
}

.info-button {
  font-size: 32px;
  color: #00539f;
  background: none;
  cursor: pointer;
  margin-top: 2px;
  border: none;
  padding: 0 7px;
}

img {
  width: 30px;
  color: #00539f;
  margin-top: 10px;
  cursor: pointer;
}

.box {
  background: #f6f6f6;
  border: #e7e7e7;
}

.archive-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; 
  padding-bottom: 10px;
}

.archive-arrows {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 5px;
  border-radius: 10px;
  width: 50px;
  background: white;
  border: 1px solid #ccc; 
  cursor: pointer;
}

.archive-button-display {
  font-family: "TESCOModern-Regular";
  font-weight: 600;
  font-size: 12px;
  background: #00539f;
  color: white;
  border-radius: 20px;
  text-align: center;
  padding: 0 10px;
  width: 120px;
  height: 25px;
  cursor: pointer;
  user-select: none; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.archive-button-input {
  display: none; 
}

.flatpickr-calendar {
    transform: scale(0.5) !important; 
    transform-origin: top left !important; 
    position: absolute;
    z-index: 9999; 
    transition: none !important; 
}

.flatpickr-calendar {
    left: -50px !important; 
}

.flatpickr-calendar {
    width: auto !important;
}

.flatpickr-calendar .flatpickr-month,
.flatpickr-calendar .flatpickr-weekday,
.flatpickr-calendar .flatpickr-day {
    font-size: 12px !important; 
}

.flatpickr-calendar * {
    transition: none !important; 
}

