.how-to-title {

    margin-bottom: 10px;
    font-size: 18px;
}

.dle {

    font-family: 'Newtext Bold';
    color: black;
}

p {

  font-family: 'TESCOModern-Regular';
  font-weight: 700;
  font-size: 11px;
  margin-bottom: 10px;
}

.blue-text {
  font-family: 'TESCOModern-Regular';
  font-weight: 700;
  font-size: 11px;
  margin-bottom: 0px;
  margin-left: 5px}

.colour-explanation {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Spacing between each color explanation */
    gap:15px;
}

.colour-explanation input {
    margin-right: 0px; /* Spacing between input and text */
    /* Add other styles for the input, such as width, height, border, etc. */
}

.red-demo {
    background-color: #ed6a5b; /* Red background */
    width: 100px;
    border: 1px solid rgba(102, 102, 102, 0.8);
    padding-left: 5px;
}

.orange-demo {
    background-color: #fed285; /* Orange background */
    width: 100px;
    border: 1px solid rgba(102, 102, 102, 0.8);
    padding-left: 5px;
}

.yellow-demo {
    background-color: #fbfb70; /* Yellow background */
    width: 100px;
    border: 1px solid rgba(102, 102, 102, 0.8);
    padding-left: 5px;
}

.green-demo {
    background-color: #90ee90; /* Green background */
    width: 100px;
    border: 1px solid rgba(102, 102, 102, 0.8);
    padding-left: 5px;
}

.add-button-demo {
    width: 100px;
    font-family: 'TESCOModern-Regular';
    font-weight: 600;
    font-size: 12px;
    background: #00539f;
    border-radius: 20px;
    height: 25px;
    color:white; 
    display:flex;
    text-align:center;
    justify-content:center;
    align-items:center;
    border: none;
}

.clubcard-box {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 75px;
    background: #00539f;
    color: white; 
    font-size: 24px;
    font-weight: 1000;
    margin-bottom:15px;
    border-radius: 5px;
}

.stats-top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-bottom: 10px;
}

.stats-bottom {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-bottom: 10px;
}

.title-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100px; /* Use 100% to take the full width of the parent */
}

.white-tescodle {
    font-family: 'Newtext Bold', sans-serif;
    font-weight: 400;
    margin-top: 5px;
    font-size: 12px;
    position: relative; /* This is needed to position the :after pseudo-element */
    padding-bottom: 4px; /* Space for the border */
    display: inline-block; /* This will make the element only as wide as its content */
    user-select: none; /* Prevent text selection */
}

.white-tescodle:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px; /* Height of the border */
    width: 100%; /* Set the width to 100% of the parent element */
    background-image: linear-gradient(to right, white 50%, transparent 50%);
    background-size: 15px 4px; /* Width of dashes and height of the border */
    background-repeat: repeat-x;
}

.white-clubcard {
    font-size: 24px;
    margin-top: -10px;
    user-select: none; /* Prevent text selection */
}

.how-stats {
    margin-top: 10px;
    text-align:center;
}

.scoring-section {
    font-size: 12px;
    background-color: #f6f6f6;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
}

.scoring-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.scoring-list li {
    margin-bottom: 5px;
}

.score-type {
    font-weight: bold;
    color: black;
}

.score-points {
    float: right;
    color: #00539f;
}

.toggle-graph {
    margin-top: 20px;
    background: #00539f;
    border: none;
    color: white;
    width:20px;
    height:20px;
    border-radius: 8px;
}

.graph {
    width: 100%;
}
